In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
import os
from dotenv import load_dotenv
import pandas as pd
from google.cloud import bigquery
from am4894bq.pd import df_to_gbq

load_dotenv()

bq_project_id = os.getenv('BQ_PROJECT_ID')
table_id = f'{bq_project_id}.tmp.tmp'

In [ ]:
# make a dummy df
df = pd.DataFrame([['a0', 'b0'],['a1', 'b1']], columns=['col_a', 'col_b'])

print(df.shape)
df

(2, 2)

  col_a col_b
0    a0    b0
1    a1    b1

In [ ]:
# send to bq
df = df_to_gbq(df, 'tmp.tmp', project_id=bq_project_id, if_exists='replace', mode='pandas')

# read back from bq
df_bq = pd.read_gbq("select * from tmp.tmp")

print(df_bq.shape)
df_bq

1it [00:02,  2.80s/it]
Downloading: 100%|██████████| 2/2 [00:00<00:00,  9.36rows/s]

(2, 2)

  col_a col_b
0    a0    b0
1    a1    b1

In [ ]:
# add a new col to df
df['col_c'] = ['c0', 'c1']

# drop col_b
df = df.drop(['col_b'], axis=1)

print(df.shape)
df

(2, 2)

  col_a col_c
0    a0    c0
1    a1    c1

In [ ]:
# save to bq
df = df_to_gbq(df, 'tmp.tmp', project_id=bq_project_id, if_exists='append', print_info=False, mode='wrangle')

print(df.shape)
df

1it [00:03,  3.53s/it]

(2, 3)

  col_a col_b col_c
0    a0  None    c0
1    a1  None    c1

In [ ]:
# read back from bq
df_bq = pd.read_gbq("select * from tmp.tmp")

print(df_bq.shape)
df_bq

Downloading: 100%|██████████| 4/4 [00:00<00:00, 14.94rows/s]

(4, 3)

  col_a col_b col_c
0    a0    b0  None
1    a1    b1  None
2    a0  None    c0
3    a1  None    c1